<h2> Customers </h2>

<div class='content'>

    <table mat-table [dataSource]="customers">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element" (click)="viewCustomer(element)"
                (dblclick)="addNewTransaction(element)">
                <a style='color:blueviolet'> {{element.uid}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="about">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.about}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>

    <mat-card>

        <h3> Customer Details </h3>

        <span *ngIf='selected!==null'>

            <p> {{ selected.name }} </p>
            <small> {{ selected.address }} </small>

            <br /><br />

            <p> {{ selected.phone }} </p>
            <small> {{ selected.about }} </small>

        </span>
        <span *ngIf='selected===null'>
            <p>Not selected</p>
        </span>

    </mat-card>

</div>