mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    min-width: 240px;
}

mat-drawer, mat-drawer-content {
    padding: 1em;
}


a, h2 {
    text-decoration: none;
    padding: 0.5em;
}

.highlight {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.link-list {
    display: flex;
    flex-direction: column;
}