<mat-drawer-container class="assignment">

    <mat-drawer mode="side" opened>
        
        <h2> Menu </h2>
        <br />

        <div class='link-list'>
            <a routerLink='/customer' routerLinkActive='highlight'> Customer </a>
            <a routerLink='/transaction' routerLinkActive='highlight'> Transaction </a>
        </div>

    </mat-drawer>

    <mat-drawer-content>
        <router-outlet>
        </router-outlet>
    </mat-drawer-content>

</mat-drawer-container>