<mat-card>

    <mat-card-title>
       {{ data.title }}
    </mat-card-title>

    <mat-card-content>
        {{ data.body }}
    </mat-card-content>

    <mat-card-footer style="padding: 1em">
        Fancy stuff to be added here!
    </mat-card-footer>

</mat-card>

<br/>