<h2> Transactions </h2>

<div class="content">

    <table mat-table [dataSource]='transactions'>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element">
                <a style='color:blueviolet' (click)="viewTransaction(element)">
                    {{element.date}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>

    <mat-card>
        <h3> Transaction Details </h3>

        <span *ngIf='selected!==null'>

            <p> {{ selected.name }} </p>
            <small> {{ selected.date }} </small>

            <br /><br />

            <p> {{ selected.amount | currency }} </p>
            <small> {{ selected.description }} </small>

        </span>
        <span *ngIf='selected===null'>
            <p>Not selected</p>
        </span>

    </mat-card>

</div>