<br />
<div class='centered'>

    <mat-card style="min-width:480px; text-align: center;">


        <h2> {{ "Profile Information" | app:http.translator }} </h2>

        <br />

        <h4> {{ "All the relevant details are listed below" | app:http.translator }} </h4>

        <br />

        <mat-card-content style='padding:1em'>

            <mat-grid-list cols="2" rowHeight="4:1">

                <mat-grid-tile><b> {{ "Name"  | app:http.translator }} </b></mat-grid-tile>
                <mat-grid-tile> {{ userData?.name | app:http.translator }} </mat-grid-tile>

                <mat-grid-tile><b>{{ "UID"  | app:http.translator }}</b></mat-grid-tile>
                <mat-grid-tile> {{ userData?.id | app:http.translator }}</mat-grid-tile>

                <mat-grid-tile><b> {{ "Email"  | app:http.translator }}</b></mat-grid-tile>
                <mat-grid-tile> {{ userData?.email | app:http.translator }}</mat-grid-tile>

                <mat-grid-tile><b>{{ "Phone" | app:http.translator }}</b></mat-grid-tile>
                <mat-grid-tile> {{ userData?.phone | app:http.translator }}</mat-grid-tile>

                <mat-grid-tile><b>{{ "Website" | app:http.translator }}</b></mat-grid-tile>
                <mat-grid-tile> {{ userData?.website | app:http.translator }}</mat-grid-tile>

                <mat-grid-tile><b>{{ "Company" | app:http.translator }}</b></mat-grid-tile>
                <mat-grid-tile> {{ userData?.company?.name | app:http.translator }}</mat-grid-tile>

            </mat-grid-list>

        </mat-card-content>

    </mat-card>

</div>