<!-- Navbar component -->
<mat-toolbar>

    <mat-toolbar-row class='flexer'>

        <span id='na-title'>
            <a routerLink='/' style="text-decoration: none;"> Home </a>
        </span>

        <span id='iterators'>
            <a class='link-decorator' routerLink='/timeline'> Timeline </a>
            <a class='link-decorator' routerLink='/events'> Events </a>
            <a>  <mat-slide-toggle (change)='swapState()'></mat-slide-toggle> </a>
        </span>

    </mat-toolbar-row>
</mat-toolbar>

<!-- Router components here -->
<div class='content'>
    <router-outlet>
    </router-outlet>
</div>